{*
    Template   : default.phtml
    Encoding   : UTF-8
    Created on : 1.6.2010, 19:11:36
    Author     : Martin Bazik
*}
{var $title = 'Mail setup'}
{block #content}
    {control formMailSetup}
{/block}