{var $title = 'Users'|translate}

{block #content}
<a n:href="add" class="ajax"><span class="icon add"></span>{_'Add user'}</a>
{snippet usersBrowser}    
    {control usersBrowser:tree}
    <a n:href="test!" class="ajax">test</a>
    {control gridUsers}
{/snippet}
{/block}