{var $title = 'Users'|translate}

{block #commands}
    <a n:href="add" class="ajax"><span class="icon add"></span>{_'Add user'}</a>
    <a n:href="test!" class="ajax"><span class="icon add"></span>TEST</a>
{/block}

{block #content}

{control gridUsers}
{/block}