Dear {$user->name},

You have requested a password change. Click the following link 
{link '//:tatami:login:newPassword', token => $token->getToken()} to change your password. Token is valid for 1 hour.