<html>
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Tatami login">
	<meta name="robots" content="noindex">

	{*<title>Tatami - {_'Login'} {if isset($test)}{$test}{/if}</title>*}
{snippet title title}Tatami - {_'Login'}{/snippet}
	{*css module:tatami 'reset.css', 'common.css', 'icons.css', 'forms.css', 'login.css'*}
	{js module:tatami 'jquery.js', 'jquery.nette.js', 'netteForms.js', 'jquery.ajaxform.js'}
	{block #js}{/block}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
    </head>

    <body>
{include #content}	
    </body>
