{block #popup}
    <div id="popup-overlay">
        <div class="block-border">
			<div class="block-content">
<a href="{link closePopup!}" class="ajax">Close</a>
        {!$content}
</div>
</div>
    </div>
{/block}