.icon{
    display: inline-block;
}
.icon.small{
    height: 16px;
    width: 16px;
}
.icon.normal{
    height: 24px;
    width: 24px;
}
.icon.medium{
    height: 32px;
    width: 32px;
}
.icon.large{
    height: 48px;
    width: 48px;
}
/* SMALL ICONS */
.icon.small.start{
    background-image: url('icons/small/start.png');
}
.icon.small.stop{
    background-image: url('icons/small/stop.png');
}
.icon.small.cog{
    background-image: url('icons/small/cog.png');
}
.icon.small.two-cog{
    background-image: url('icons/small/cog_4.png');
}
.icon.small.delete{
    background-image: url('icons/small/delete.png');
}
.icon.small.dashboard{
    background-image: url('icons/small/dashboard.png');
}
.icon.small.download{
    background-image: url('icons/small/package-download.png');
}
.icon.small.info{
    background-image: url('icons/small/info.png');
}
.icon.small.refresh{
    background-image: url('icons/small/refresh.png');
}
/* NORMAL ICONS */
.icon.normal.download{
    background-image: url('icons/normal/package-download.png');
}
.icon.normal.close{
    background-image: url('icons/normal/close.png');
}
.icon.normal.edit{
    background-image: url('icons/normal/modify.png');
}
.icon.normal.delete{
    background-image: url('icons/normal/delete.png');
}
.icon.normal.refresh{
    background-image: url('icons/normal/refresh.png');
}
.icon.normal.view{
    background-image: url('icons/normal/view.png');
}
.icon.normal.zoom{
    background-image: url('icons/normal/zoom.png');
}
/* MEDIUM ICONS */
.icon.medium.add{
    background-image: url('icons/medium/add.png');
}
.icon.medium.download{
    background-image: url('icons/medium/package-download.png');
}
.icon.medium.home{
    background-image: url('icons/medium/home-hover.png');
    background-position: 0 5px;
}
.icon.medium.home:hover{
    background-image: url('icons/medium/home-hover.png');
    /*background-position: 0 37px;*/
}
.icon.medium.ok{
    background-image: url('icons/medium/tick.png');
}
.icon.medium.info{
    background-image: url('icons/medium/info.png');
}
.icon.medium.error{
    background-image: url('icons/medium/exclamation.png');
}
.icon.medium.users{
    background-image: url('icons/medium/users.png');
}
/* LARGE ICONS */
.icon.large.module-default{
    background-image: url('icons/large/module-default.png');
}
