/* 
    Document   : install
    Created on : 19.8.2011, 9:24:27
    Author     : Martin
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background: url("images/login-box.png") no-repeat scroll center top #2B3237;
}
#install-box{
    margin: 210px auto 0;
    width: 400px;
}
#install-box input[name="btnPrevious"]{
    float: left;
}
#install-box input[name="btnNext"], #install-box input[name="btnInstall"]{
    float: right;
}
#install-box table tr:last-child th{
    width: 0;
    display: inline-block;
}
#install-box table tr:last-child td{
    width: 100%;
}
#summary{
    color: #777777;
}
#summary ul{
    margin: 10px;
}
#summary ul li{
    margin-top: 5px;
}
#summary ul li strong{
    font-weight: bold;
    width: 100px;
    display: inline-block;
}