{**
 * Tatami layout template.
 *
 * @copyright  Copyright (c) 2011 Martin Bazik
 * @package    Tatami
 *
 * @param string   $basePath web base path
 * @param string   $robots   tell robots how to index the content of a page (optional)
 * @param array    $flashes  flash messages
 *}
 {dump}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Tatami admin"/>
	<meta name="robots" content="noindex"/>

	<title>Tatami</title>
	{css module:tatami 'reset.css', 'common.css', 'layout.css', 'forms.css', 'icons.css', 'gridder.css'}
	{css module:tatami media:'only screen and (min-device-width: 768px) and (max-device-width: 1024px)' 'ipad.css'}
        {block #css}{/block}
	{js module:tatami 'jquery.js', 'jquery.nette.js', 'netteForms.js', 'jquery.ajaxform.js', 'jquery.livequery.js', 'tatami.js', 'gridder.js'}
        {block #js}{/block}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon"/>
</head>
<body id="top">
    <div id="container">
	<div id="header-surround">
	    <header>
		<div class="home">
		<a href="{plink :Tatami:Dashboard:default}">
		    tatami
		</a>
		</div>
		<div class="divider-header"></div>
		<div id="toolbox">
		    <nav>
			{control toolbar}
		    </nav>
		    <div id="statusbar">
			<div id="user-menu">
			    <a href="" class="ajax">
				<span class="icon icon-user"></span>
				<strong>
				    {if isset($user->identity->name)}
					{$user->identity->name}
				    {else}
					{$user->identity->login}
				    {/if}
				</strong></a>
			    <a href="{link logout!}" class="button red">
				{_'logout'}</a>
			</div>
			</div>
		    </div>
		</div>
	    </header>
	</div>
	
        <div class="fix-shadow-bottom-height"></div>

	<div id="main" role="main">
	    
	    <aside id="sidebar">
		<section id="shortcuts-header">
		    <h1>{_'Shortcuts'}</h1>
		</section>
		<section id="shortcuts-panel">
		    {control shortcuts}
		</section>
		<nav id="nav">
		    {snippet navigation}
			{control navigation}
		    {/snippet}
		</nav>
	    </aside>
	    
	    <div id="main-right">
		<div id="title-bar">
		    <nav id="breadcrumbs">
			<ul>
			    <li class="home">
				<a title="{_'Home'}" n:href=":tatami:dashboard:" >
				    <span class="icon medium home"></span>
				</a>
			    </li>
			    {ifCurrent :tatami:dashboard:}
			    {else}
			    <li>
				<a n:href="$presenter->module->getEntryPoint()">{$presenter->module->name}</a>
			    </li>
			    <li>
				{var $link = ':'.$presenter->name.':'}
				<a n:href="':'.$presenter->name.':'">
				    {$presenter->getShortName()}
				</a>
			    </li>
			    <li n:if="$presenter->getShortName() != $title"><span>{$title}</span></li>
			    {/ifCurrent}
			</ul>
		    </nav>
		    <div id="search-box">
			{form searchBox}
			    {input search}
			    {input btnSearch class => button}
			{/form}
		    </div>
		</div>
		<div class="shadow-bottom shadow-titlebar"></div>
		<div id="main-background">
		<div id="main-content">
		    {snippet flash}
		    {foreach $flashes as $flash}<div class="flash {$flash->type}"><span class="icon medium {$flash->type}"></span>
			<span class="message">{_$flash->message}</span></div>{/foreach}
		    {/snippet}
		    <h1 class="title" n:ifset="$title">{$title}</h1>
		    {block #commands}{/block}
		    <div class="block-border">
			<div class="block-content">
			    {include #content}
			</div>
		    </div>
		</div>
		</div>
	    </div>
	</div>
	
        
        
	
    </div>
{snippet popup}
    {control popup}
{/snippet}
</body>
</html>

