{*
    Template   : @popup.phtml
    Encoding   : UTF-8
    Created on : 25.5.2010, 20:39:17
    Author     : Martin Bazik
*}
{snippet popup}
    <div id="popup-overlay">
	<div class="block-border">
	    <div class="block-content">
		<a href="{link closePopup!}" class="ajax close"><span class="icon normal close"></span></a>
		{block #content}
		{/block}
	    </div>
	</div>
    </div>
{/snippet}