<table>
    <thead>
	<tr n:inner-foreach="$columns as $column">
	    <th>{$column}</th>
	</tr>
    </thead>
    
    <tfoot>
	
    </tfoot>
    
    <tbody>
	{while ($rows->valid()) !== false}
	    {var $row = $rows->current()}
		<tr n:inner-foreach="$columns as $column">
		    <td>

			{$row->$column}

		    </td>
		</tr>
	    {$rows->next()}
	{/while}
    </tbody>
</table>