<ul>
    <li n:foreach="$items as $item">
	<a href="{plink $item['destination']}" data-label="{$item['label']}" title="{$item['label']}" n:class="$item['ajax'] == true ? ajax">
	    <span class="icon medium {$item['icon']}"></span>
	</a>
    </li>
</ul>